.github-calender{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    &__github-calender{
        width: 75%;
        background-color: rgb(173, 212, 30) ;
        padding: 10px 40px;
        border-radius: 10px;
    }
}

//  rect {
//     --react-activity-calendar-level-0: #ebf1f9;
//     --react-activity-calendar-level-1: #71d381;
//     --react-activity-calendar-level-2: #27a248;
//     --react-activity-calendar-level-3: #094419;
//     --react-activity-calendar-level-4: rgb(4, 41, 15);
//     --react-activity-calendar-loading: #83a6da;
//     --react-activity-calendar-loading-active: #f8fafd;
// }


